
body {
    margin: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
    font-family: cursive;
    height: 100vh;
}

.container {
    width: 400px;
    position: relative;
    text-align: center;
}

.counter {
    font-size: 40px;
}

.static-bar {
    position: absolute;
    background-color: antiquewhite;
    width: 100%;
    height: 8px;
    border-radius: 5px;
    border: none;
}

.dynamic-bar {
    position: absolute;
    background-color: orangered;
    width: 0%;
    height: 8px;
    border-radius: 5px;
    border: none;
}